# Ignore node_modules in all subdirectories (client and server)
node_modules/
# Ignore environment variables
.env
# Ignore local env files
.env.*
!.env.example
# (Add any other client-specific ignores here, like build folders)
/client/build/
/client/dist/
#firebase thing
firebase.json
firebase.js
#private
finlintgo.sdk
test-gemini.mjs
supabase_setup.sql
database_setup.sql
et --hard HEAD@{1}